@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.heroContainer {
    /* margin-top: 10px; */
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    overflow: hidden;
    position: relative;
    
}

.heroContainer .heroImage {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 40vw;
    max-width: 100%;
    /* border-radius: 1vw; */
}

.heroText {
    position: absolute;
    color: #fff2f2;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 80%;
}

@media (max-width: 991.98px) {
    .heroImage {
        object-fit: cover;
        object-position: bottom;
        width: 100%;
        height: auto;
        max-width: auto;
    }

    .heroText {
        position: absolute;
        color: #fff2f2;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .heroImage {
        width: 100%;
        object-fit: cover;
        object-position: bottom;

        height: auto;
        max-width: auto;
    }

    .heroText {
        position: absolute;
        color: #fff2f2;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 575.98px) {
    .heroImage {
        width: 100%;
        object-fit: cover;
        object-position: bottom;

        height: auto;
        max-width: auto;
    }

    .heroText {
        position: absolute;
        color: #fff2f2;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 1.3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 10px;
    }
    .heroImageWrapper {
        width: 100%;
        height: auto;
       
    }
}
