.main {
  padding: 10px 10px 10px 10px;
}

.container {
  display: grid;
  place-items: center;
  /* margin: 10px 0 20px; */
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
  font-size: 2rem;
}

.imageList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  padding: 0;
  margin-top: 20px;
}

.imageList li {
  list-style: none;
  width: 100%;
  border-radius: 10px;
}

.img {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.img p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card_p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
}

.categoryImage {
  width: 100%;
  height: auto;
  max-width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

figure {
  width: 100%;
  height: auto;
  max-width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

figure:hover {
  bottom: -36px;
  opacity: 1;
}

.imageList figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.imageList figure:hover img {
  transform: scale(1.3);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.main_container {
  display: grid;
  border: 1px solid black;
  padding: 20px;
  gap: 20px;
}

@media (max-width: 991.98px) {
  .card_p {
    font-size: 0.9rem;
  }

  .card button {
    padding: 10px;
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .heading {
    font-size: 1.5rem;
  }

  .card_p {
    font-size: 0.8rem;
  }

  .card button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .heading {
    font-size: 1.2rem;
  }

  .card_p {
    font-size: 0.8rem;
  }

  .card button {
    padding: 8px;
    font-size: 14px;
  }
}
