@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



 .main {
  padding: 20px;
  margin-top: 61px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.main p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-bottom: 10px;
}

.input_container,
.availabilty,
.range,
.radio,
.color {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_container label,
.availabilty label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.range input[type="range"] {
  width: 100%;
}

.color {
  display: flex;
  align-items: center;
  gap: 10px;
} 
.apply{
  padding: 10px 20px;
  background-color: #C69E9E;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  
}






