

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  display: grid;
  place-items: start;
  margin: 10px 0 20px;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
}

.imageList {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr); 
  justify-items: start;
  padding: 0;
  margin-top: 20px;
  width: 90%;
  margin: 10px auto;
}

.imageList li {
  list-style: none;
  width: 100%;
  border-radius: 10px;
  text-align: start;
  display: grid;
  gap: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.img {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 10px;
  justify-self: start;
}

.card_p,
.stars {
  justify-self: start;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}
.card_price {
  justify-self: start;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
}

.card button {
  justify-self: center;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card button:hover {
  opacity: 0.7;
}

.removed_price {
  margin-left: 1rem;
  color: #424242;
  line-height: 34.5px;
  text-decoration: line-through;
  font-weight: normal;
}

@media (max-width: 991.98px) {
  .imageList {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_p {
    font-size: 0.9rem;
    color: #424242;
    font-weight: normal;
  }
  .card_price {
    font-size: 0.9rem;
    color: #424242;
    font-weight: bold;
  }

  .img {
    cursor: pointer;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    justify-self: start;
  }

  .card button {
    padding: 10px;
    font-size: 16px;
  }

  .removed_price {
    margin-left: 1rem;
    font-weight: normal;
  }
}

@media (max-width: 767.98px) {
  .imageList {
    grid-template-columns: repeat(2, 1fr);
  }

  .img {
    cursor: pointer;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    justify-self: start;
  }

  .heading {
    font-size: 1rem;
  }

  .card_p {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .card_price {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .card button {
    padding: 8px;
    font-size: 14px;
  }

  .removed_price {
    margin-left: 1rem;
    font-weight: normal;
  }
}

@media (max-width: 575.98px) {
  .imageList {
    grid-template-columns: repeat(2, 1fr);
  }

  .img {
    cursor: pointer;
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    justify-self: start;
  }

  .heading {
    font-size: 1rem;
  }

  .card_p {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .card_price {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .card button {
    padding: 8px;
    font-size: 14px;
    background-color: #be9f8f;
  }

  .removed_price {
    margin-left: 1rem;
  }
}
