@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fdf5eb;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background-color: #e7b3cc;
  margin-top: 5.5px;
  color: #fff;
}
.heading_div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7b3cc;
  max-width: 100%;
  height: 7vh;
}

@media (max-width: 991.98px) {
  .heading {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-size: 1.2rem;
    background-color: #e7b3cc;
  }
  .heading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b3cc;
    height: 6vh;
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .heading {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
    background-color: #e7b3cc;
  }
  .heading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b3cc;
    height: 6vh;
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .heading {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 0.5rem;

    background-color: #e7b3cc;
  }
  .heading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b3cc;
    height: 4vh;
    max-width: 100%;
  }
}
