@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fdf5eb;
}

.heading {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  background-color: #e7b3cc;
}
.heading_div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7b3cc;
  height: auto;
  max-width:100%;
}

@media (max-width: 991.98px) {
  .heading {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    background-color: #e7b3cc;
  }
  .heading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b3cc;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .heading {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;

    background-color: #e7b3cc;
  }
  .heading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b3cc;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .heading {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;

    background-color: #e7b3cc;
  }
  .heading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b3cc;
    height: auto;
    max-width: 100%;
  }
}