@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f5e8e8;
}

.main_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 20px;
  background-color: #f8f8f8;
}

.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo_container img {
  margin-bottom: 20px;
}

.newsletter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.newsLetter_p {
  width: 70%;
}
.newsLetter {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
.main_container {
  background-image: url("./../../assets/footer/elephant-3223522_640\ 4.png");
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: right;
  /* animation: moveBackground 10s linear infinite; */
}

/* @keyframes moveBackground {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
} */


.newsletter_container input[type="text"] {
  /* margin-bottom: 10px; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.newsletter_container button {
  padding: 10px;
  background-color: #d0acac;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-top: 10px; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.links_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.links_container a {
  text-decoration: none;
  color: black;
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.social_links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.social_links h4 {
  margin-bottom: 10px;
}

.social_links a {
  text-decoration: none;
  color: black;
  margin: 5px 0;
}

.features_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* gap: 20px; */
  margin: 20px;
}

.feature_item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #d0acac;
  padding: 10px;
  /* border-radius: 8px; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
.feature_item:nth-child(1) {
  color: black;
  background-color: rgb(195, 172, 114);
}
.feature_item:nth-child(2) {
  color: black;
  background-color: #d0acac;
}
.feature_item:nth-child(3) {
  color: black;
  background-color: rgb(195, 172, 114);
}
.feature_item:nth-child(4) {
  color: black;
  background-color: #d0acac;
}

.feature_item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 15px;
}

.feature_item div {
  display: flex;
  flex-direction: column;
}

.feature_item p {
  margin: 0;
}

@media (max-width: 991.98px) {
  .newsletter_container {
    flex-direction: row;
    align-items: center;
  }
  .logo_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .newsletter_container button {
    padding: 10px;
    background-color: #d0acac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .newsletter_container {
    display: flex;
    flex-direction: column;
  }
  .newsletter_container button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .newsletter_container input[type="text"] {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }
  .newsletter_container .button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 20px;
  }
  .features_container {
    grid-template-columns: 1fr;
  }

  .feature_item {
    grid-template-columns: auto 1fr;
  }

  .feature_item img {
    margin-right: 10px;
  }
}

@media (max-width: 767.98px) {
  .logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .newsletter_container {
    flex-direction: row;
    align-items: center;
  }

  .newsletter_container input[type="text"] {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }

  .newsletter_container button {
    padding: 10px;
    background-color: #d0acac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .newsletter_container {
    display: flex;
    flex-direction: column;
  }
  .newsletter_container button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .newsletter_container .button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 20px;
  }
  .links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .social_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: auto;
  }
  .newsLetter_p {
    width: 100%;
    margin-top: 5px;
  }
  .features_container {
    grid-template-columns: 1fr;
  }

  .feature_item {
    grid-template-columns: auto 1fr;
  }

  .feature_item img {
    margin-right: 10px;
  }
  .main_container{
    background-image: url("./../../assets/footer/elephant-3223522_640\ 4.png");
    background-repeat: no-repeat;
    background-size: 430px;
    background-position: right;
    
  }
}

@media (max-width: 575.98px) {
  .logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .newsLetter_p {
    width: 100%;
    margin-top: 5px;
  }
  .newsLetter {
    font-size: 0.9rem;
  }

  .logo_container img {
    margin-bottom: 20px;
  }

  .links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .social_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15px;
  }

  .newsletter_container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
  }

  .newsletter_container input[type="text"]{
    margin-left: 10px;
    /* margin-bottom: 0; */
    width: 100%;
  }
   
  .newsLetter {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }

  .newsletter_container button {
    padding: 10px;
    background-color: #d0acac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .newsletter_container {
    display: flex;
    flex-direction: column;
  }
  .newsletter_container .button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 20px;
  }
  .features_container {
    grid-template-columns: 1fr;
  }

  .feature_item {
    grid-template-columns: auto 1fr;
  }

  .feature_item img {
    margin-right: 10px;
  }
  .main_container{
    background-image: url("./../../assets/footer/elephant-3223522_640\ 4.png");
    background-repeat: no-repeat;
    background-size: 345px;
    background-position: bottom;
    
  }
  
}
