body {
  background-color: #f5e8e8;
}


.main_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 20px;
  background-color: #f8f8f8;
}

.main_container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../../assets/footer/elephant-3223522_640\ 4.png");
}

.logo_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.logo_container img {
  margin-bottom: 20px;
}

.newsletter_container {
  display: flex;
  flex-direction: column;
}

.newsletter_container input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.newsletter_container button {
  padding: 10px;
  background-color: #d0acac;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.links_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links_container a {
  text-decoration: none;
  color: black;
  margin: 5px 0;
}

.social_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.social_links h4 {
  margin-bottom: 10px;
}

.social_links a {
  text-decoration: none;
  color: black;
  margin: 5px 0;
}

@media (max-width: 991.98px) {
  .newsletter_container {
    flex-direction: row;
    align-items: center;
  }
  .logo_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .newsletter_container button {
    padding: 10px;
    background-color: #d0acac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .newsletter_container {
    display: flex;
    flex-direction: column;
  }
  .newsletter_container button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .newsletter_container input[type="text"] {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }
}

@media (max-width: 767.98px) {
  .newsletter_container {
    flex-direction: row;
    align-items: center;
  }

  .newsletter_container input[type="text"] {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }

  .newsletter_container button {
    padding: 10px;
    background-color: #d0acac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .newsletter_container {
    display: flex;
    flex-direction: column;
  }
  .newsletter_container button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
}

@media (max-width: 575.98px) {
  .newsletter_container {
    flex-direction: row;
    align-items: center;
  }

  .newsletter_container input[type="text"] {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }

  .newsletter_container button {
    padding: 10px;
    background-color: #d0acac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .newsletter_container {
    display: flex;
    flex-direction: column;
  }
  .newsletter_container button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
}
