.main {
  display: flex;
  gap: 0px;
  margin: 0px;
}

.filterContainer {
  margin: 0px;
  flex: 1;
}

.bestSellerContainer {
  margin: 0px;
  flex: 3.5;
}

.container {
  display: grid;
  place-items: start;
  margin: 10px 0 20px;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
  font-size: 1rem;
  align-self: center;
  justify-self: center;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@media (max-width: 2000px) {
  .filterButtonContainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .filterButtonContainer {
    display: none;
  }
  .bestSellerContainer {
    flex-direction: column;
  }

  .filterContainer {
    display: none;
  }

  .filterButtonContainer {
    display: block;
    text-align: start;
    /* margin: 10px 0 0px 10px; */
    width: 90%;
    margin: 10px auto;
    margin-left: 50px;
  }

  .filterButton {
    padding: 10px 20px;
    background-color: #c69e9e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .filterContainerMobile {
    display: block;
    margin: 10px 0;
    border: 1px solid black;
    animation: slideIn 0.5s ease-out forwards;
  }

  .filterContainerMobile.slide-out {
    animation: slideOut 0.5s ease-out forwards;
  }
}

@media (max-width: 575.98px) {
  .bestSellerContainer {
    flex-direction: column;
  }

  .filterContainer {
    display: none;
  }

  .filterButtonContainer {
    display: block;
    text-align: start;
    /* margin: 0px 0 0px 10px; */
    width: 90%;
    margin: 10px auto;
    margin-left: 35px;
  }

  .filterButton {
    padding: 5px 10px;
    background-color: #c69e9e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .filterContainerMobile {
    border: 1px solid black;
    display: block;
    margin: 10px 0;
    animation: slideIn 0.5s ease-out forwards;
  }

  .filterContainerMobile.slide-out {
    animation: slideOut 0.5s ease-out forwards;
  }
}
